:root{
    --main-color: black;
    --secand-color: rgb(179, 179, 179);
    --color-blue: rgb(0, 119, 255);
    --time-transation: 0.3s;
    --focus-link-color: #f1f1f1;
}
body nav ul li:nth-of-type(5) a{
    background-color: #f1f1f1
}
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.container .perant .content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.container .perant .content .card{
    position: relative;
    padding: 0px;
}
.container .content .card img:first-of-type{
    width: 100%;
}
.container .content .card img:nth-child(2){
    position: absolute;
    top: 15px;
    left: 15px;
    width: 70px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 2;
}
.container .content .card h3{
    padding-left: 20px;
    margin-bottom: 10px;
}
.container .content .card p{
    margin-top: 10px;
    margin-bottom: 5px;
    padding-inline: 20px;
    color: gray;
    font-size: 15px;
    line-height: 20px;
}
.container .content .card > span{
    display: block;
    width: fit-content;
    margin: 20px auto -15px;
    padding: 5px 8px;
    text-align: center;
    background-color: rgb(0, 110, 255);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    z-index: 2;
    position: relative;
}
.container .content .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: gray;
    border-top: 1px solid #ccc;
    font-size: 15px;
}