:root{
    --main-color: black;
    --secand-color: rgb(179, 179, 179);
    --color-blue: rgb(0, 119, 255);
    --time-transation: 0.3s;
    --focus-link-color: #f1f1f1;
}
body nav ul li:nth-of-type(4) a{
    background-color: #f1f1f1
}
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.container .perant .content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
}
.container .content .card{
    position: relative;
}
.container .content .card > p:first-of-type{
    margin: 0;
}
.container .content .card > p:nth-of-type(2){
    color: gray;
    font-size: 15px;
    margin: 10px 0px;
}
.container .content .card > span:first-of-type{
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 13px;
    color: gray;
}
.container .content .card .imgs{
    margin-top: 50px;
    margin-bottom: 20px;
}
.container .content .card .imgs img{
    width: 40px;
    border: 2px solid white;
    border-radius: 50%;
}
.container .content .card .imgs img:not(:first-child){
    margin-left: -20px;
}
.container .content .card .imgs img:hover{
    position: relative;
    z-index: 2;
}
.container .content .card > .box:nth-of-type(2){
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: end;
    align-items: center;
    font-size: 14px;
    padding: 5px 0px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.container .content .card > .box:nth-of-type(2) p{
    padding: 5px;
    background-color: #eee;
    border-radius: 5px;

}
.container .content .card > .box:nth-of-type(3){
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.container .content .card > .box:nth-of-type(3) .meter{
    width: 250px;
    height: 8px;
    border-radius: 5px;
    background-color: #eee;
}
.container .content .card > .box:nth-of-type(3) .meter span{
    display: block;
    height: 8px;
    border-radius: 5px;
    background-color: green;
}
.container .content .card:nth-child(3) > .box:nth-of-type(3) .meter span{
    background-color: rgb(0, 102, 255);
}
.container .content .card:nth-child(1) > .box:nth-of-type(3) .meter span,
.container .content .card:nth-child(6) > .box:nth-of-type(3) .meter span{
    background-color: rgb(255, 30, 0);
}
.container .content .card > .box:nth-of-type(3) > span{
    color: gray;
    font-size: 14px;
}
.container .content .card > .box:nth-of-type(3) > span::first-letter{
    font-weight: 500;
}